@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background: 0, 0, 0, 1;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    rgba(255, 59, 158, 1),
    rgba(236, 191, 191, 1),
    rgba(92, 36, 255, 1),
    rgba(217, 79, 213, 1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.border-gradient {
  background: linear-gradient(45deg, #aa50fb, #a6fcff);
}

.oval-shape {
  position: absolute;
  height: 150px;
  width: 220px;
  border-radius: 60% 40% 50% 50% / 59% 45% 55% 41%;
  border: 4px solid rgba(151, 24, 219, 0.8);
  box-shadow: inset 0px 0px 20px rgb(6, 134, 246), 0px 0px 20px rgb(158, 6, 246);
  opacity: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background));
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@media (min-width: 350px) {
  .oval-shape {
    /* Reduce the height and width when the screen width is 350px or larger */
    height: 200px;
    width: 250px;
  }
}


@media (min-width: 680px) {
  .oval-shape {
    /* Reduce the height and width when the screen width is 350px or larger */
    height: 250px;
    width: 350px;
  }
}


